.top-bar {
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 56px;

  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: rgb(15, 15, 15);

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 12px 0px;
}

.section-1 {
 width: 169px;

 display: flex;
 flex-direction: row;
 align-items: center;

 margin: 0px 0px 0px 0px;
}

.hamburger-menu-div {
  width: 24px;
  height: 24px;

  margin: 0px 16px 0px 24px;
  padding: 0px 0px 0px 0px;

  transition: width 0.15s, height 0.15s, border-radius 0.15s, margin 0.15s, padding 0.15s, background-color 0.15s;

  cursor: pointer;
}

.hamburger-menu-div:hover {
  width: 34px;
  height: 34px;

  border-radius: 35px;
  
  margin: 0px 6px 0px 14px;
  padding: 10px 10px 0px 10px;
  
  background-color: rgb(39, 39, 39);
}

.hamburger-menu, .search-button-icon, .voice-search-button-icon, .create-button-icon, .notification-button-icon {
  width: 100%;
  height: 100%;

  filter: invert(100%);
}

.youtube-logo-div {

  position: relative;

  width: 90px;
  height: 20px;

  margin: 0px 16px 0px 8px;

  cursor: pointer;

}

.youtube-logo-div .youtube-logo-tooltip {

  display: flex;
  justify-content: center;

  position: absolute;
  top: 30px;

  background-color: rgb(114, 114, 114);
  color: white;

  opacity: 0;

  font-family: Roboto, Arial;
  font-size: 14px;

  border-radius: 4px;

  width: auto;
  height: auto;

  transition: opacity 0.15s;

  padding: 6px 6px 6px 6px;

  pointer-events: none;

  white-space: nowrap;
}

.youtube-logo-div:hover .youtube-logo-tooltip {

  opacity: 1;

}

.section-2 {
  height: 100%;
  width: 732px;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.search-box-div {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0px 0px 0px 40px;
  padding: 0px 0px 0px 0px;
}

.search-box {
  background-color: rgb(18, 18, 18);
  color: white;

  height: 38px;
  width: 0;

  flex: 1;

  border: solid;
  border-color: rgb(48, 48, 48);
  border-width: 1px;
  border-radius: 20px 0px 0px 20px;
  font-size: 16px;

  transition: margin 0.15s, padding 0.15s;

  margin: 0px 0px 0px 36px;
  padding: 0px 0px 0px 16px;
}

.search-box:focus {

  background-image: url("data:image/svg+xml,%3Csvg class='search-button-icon' xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' viewBox='0 0 24 24' focusable='false' style='pointer-events: none; display: inherit; width: 24px; height: 24px;'%3E%3Cpath d='m20.87 20.17-5.59-5.59C16.35 13.35 17 11.75 17 10c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.75 0 3.35-.65 4.58-1.71l5.59 5.59.7-.71zM10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 20px;

  outline: 1px solid rgb(0, 140, 255);

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 46px;

}

.search-button {

  display: flex;
  justify-content: center;

  background-color: rgb(34, 34, 34);
  
  width: 64px;
  height: 40px;

  border: solid;
  border-color: rgb(48, 48, 48);
  border-width: 1px;
  border-radius: 0px 20px 20px 0px;

  margin: 0px 16px 0px 0px;

  position: relative;

  cursor: pointer;
}

.search-button .search-button-tooltip {

  position: absolute;
  top: 50px;

  z-index: 200;

  background-color: rgb(114, 114, 114);
  color: white;

  opacity: 0;

  font-family: Roboto, Arial;
  font-size: 14px;

  border-radius: 4px;

  width: auto;
  height: auto;

  transition: opacity 0.15s;

  padding: 6px 6px 6px 6px;

  pointer-events: none;

  white-space: nowrap;

}

.search-button:hover .search-button-tooltip {

  opacity: 1;

}

.search-button-icon-div {
  width: 24px;
  height: 24px;

  margin: auto;
}

.voice-search-button {

  display: flex;
  justify-content: center;

  background-color: rgb(39, 39, 39);
  
  width: 40px;
  height: 40px;

  border: none;
  border-color: rgb(28, 28, 28);
  border-width: 1px;
  border-radius: 20px;

  cursor: pointer;
}

.voice-search-button:hover {
  background-color: rgb(66, 66, 66);
}



.voice-search-button .voice-search-button-tooltip {

  position: absolute;
  top: 60px;

  z-index: 200;

  background-color: rgb(114, 114, 114);
  color: white;

  opacity: 0;

  font-family: Roboto, Arial;
  font-size: 14px;

  border-radius: 4px;

  width: auto;
  height: auto;

  transition: opacity 0.15s;

  padding: 6px 6px 6px 6px;

  pointer-events: none;

  white-space: nowrap;

}

.voice-search-button:hover .voice-search-button-tooltip {

  opacity: 1;

}

.voice-search-button-icon-div, .create-button-icon-div {
  width: 24px;
  height: 24px;

  margin: auto;
}

.section-3 {
  width: 225px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex-shrink: 0;

  margin: 0px 32px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.create-button-icon-div, .notification-button-icon-div {

  display: flex;
  justify-content: center;

  position: relative;

  width: 34px;
  height: 34px;

  border-radius: 35px;
  
  margin: 0px 6px 0px 6px;
  padding: 10px 5px 0px 5px;

  transition: background-color 0.15s;

  cursor: pointer;
}

.create-button-icon-div:hover,.notification-button-icon-div:hover {
  
  background-color: rgb(39, 39, 39);
}

.create-button-tooltip, .notifications-button-tooltip {

  position: absolute;
  top: 50px;

  z-index: 200;

  background-color: rgb(114, 114, 114);
  color: white;

  opacity: 0;

  font-family: Roboto, Arial;
  font-size: 14px;

  border-radius: 4px;

  width: auto;
  height: auto;

  transition: opacity 0.15s;

  padding: 6px 6px 6px 6px;

  pointer-events: none;

  white-space: nowrap;

}

.create-button-icon-div:hover .create-button-tooltip, .notification-button-icon-div:hover .notifications-button-tooltip {

  opacity: 1;

}

.notification-count {

  position: absolute;
  top: 4px;
  right: 4px;

  background-color: rgb(192, 12, 12);
  color: white;

  border-radius: 8px;

  font-size: 12px;
  font-weight: bold;
  font-family: Roboto, Arial;

  width: auto;
  height: auto;

  padding: 2px 5px 2px 5px;
  margin: 0px 0px 0px 0px;
}

.profile-button-icon-div {
  width: 32px;
  height: 32px;

  margin: 0px 14px 0px 14px;

  cursor: pointer;
}

.svg-holder {
  width: 24px;
  height: 24px;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  transition: margin 0.15s;
}

.profile-button-icon {
  width: 32px;
  height: 32px;

  border-radius: 16px;

  margin: 0px 0px 0px 0px;

  cursor: pointer;
}

svg {
  width: 24px;
  height: 24px;
}