.content-and-category-wrapper {
  display: flex;
  flex-direction: column;
}

.category-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: fixed;
  width: 87.19%;
  height: auto;
  background-color: rgb(15, 15, 15);

  /*
  z-index: 100;
  */

  margin: 0px 0px 16px 12.81%;
  padding: 0px 0px 0px 0px;
}

.category {
  background-color: rgb(46, 46, 46);
  border-radius: 8px;

  width: auto;

  white-space: nowrap;

  transition: background-color 0.15s;

  margin: 0px 12px 12px 0px;
  padding: 8px 12px 8px 12px;

  cursor: pointer;
}

.category:hover {
  background-color: rgb(75, 75, 75);
}

.cat-text{
  color: white;
  font-weight: 500;
  font-size: 14px;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}