a {
  font-family: Roboto;
  font-size: 14px;

  color: rgb(170, 170, 170);

  text-decoration: none;
}

.side-menu-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  /*
  width: 12.81%;
  */
  
  width: 246px;
  height: 92.80%;

  position: fixed;

  overflow-y: scroll;

  background-color: rgb(15, 15, 15);

  scrollbar-color: rgb(15, 15, 15) rgb(15, 15, 15);
  scrollbar-width: thin;

  transition: scrollbar-color 0.15s;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 800px) {

  .side-menu-container {

    display: none;

  }
  
}

.side-menu-container:hover {

  scrollbar-color: #888 rgb(15, 15, 15);

}

.side-menu-option-default {
  display: flex;
  align-items: center;
  background-color: rgb(39, 39, 39);

  border-radius: 10px;
  height: 40px;

  flex-shrink: 0;

  margin: 0px 24px 0px 12px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}

.side-menu-icons-default {
  filter: invert();
  
  margin: 12px 24px 12px 12px;
  padding: 0px 0px 0px 0px;
}

.side-menu-text-default {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;

  color: white;

  vertical-align: middle;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.side-menu-profile {
  width: 24px;
  height: 24px;

  border-radius: 12px;

  margin: 12px 24px 12px 12px;
  padding: 0px 0px 0px 0px;
}

.side-menu-option {
  display: flex;
  align-items: center;

  border-radius: 10px;
  height: 40px;

  margin: 0px 24px 0px 12px;
  padding: 0px 0px 0px 0px;

  cursor: pointer;
}

.side-menu-option:hover {
  background-color: rgb(39, 39, 39);
}

.side-menu-icons {
  filter: invert();
  
  margin: 12px 24px 12px 12px;
  padding: 0px 0px 0px 0px;
}

.side-menu-text {
  font-family: Roboto;
  font-size: 14px;
  flex: 1;

  color: white;

  vertical-align: middle;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.live-icon {
  margin: 0px 12px 0px 0px;
  padding: 0px 0px 0px 0px;
}
