a {
  font-family: Roboto;
  font-size: 14px;

  color: rgb(170, 170, 170);

  text-decoration: none;
}

.side-menu-container {
  width: 246px;
  height: calc(100vh - 68px);/*100vh;*/

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.side-menu {
  width: 100%;
  height: 100%;

  overflow-y: scroll;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.side-menu::-webkit-scrollbar {
  width: 6px;
}

.side-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;

  transition: background-color 0.15s;
}

.side-menu:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* new color when hovering over scrollbar */
}

.side-menu-option-default {
  display: flex;
  align-items: center;
  background-color: rgb(39, 39, 39);

  border-radius: 10px;
  height: 40px;

  margin: 0px 24px 0px 12px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}

.side-menu-icons-default {
  filter: invert();
  
  margin: 12px 24px 12px 12px;
  padding: 0px 0px 0px 0px;
}

.side-menu-text-default {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;

  color: white;

  vertical-align: middle;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.side-menu-profile {
  width: 24px;
  height: 24px;

  border-radius: 12px;

  margin: 12px 24px 12px 12px;
  padding: 0px 0px 0px 0px;
}

.side-menu-option {
  display: flex;
  align-items: center;

  border-radius: 10px;
  height: 40px;

  margin: 0px 24px 0px 12px;
  padding: 0px 0px 0px 0px;

  cursor: pointer;
}

.side-menu-option:hover {
  background-color: rgb(39, 39, 39);
}

.side-menu-icons {
  filter: invert();
  
  margin: 12px 24px 12px 12px;
  padding: 0px 0px 0px 0px;
}

.side-menu-text {
  font-family: Roboto;
  font-size: 14px;
  flex: 1;

  color: white;

  vertical-align: middle;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.live-icon {
  margin: 0px 12px 0px 0px;
  padding: 0px 0px 0px 0px;
}
