body {
  background-color: rgb(15, 15, 15);

  margin: 0px 0px 0px 0px;
  padding: 68px 0px 0px 0px;

}

html {
  scrollbar-color: rgb(136, 136, 136) rgb(15, 15, 15);
  -webkit-scrollbar-color: rgb(136, 136, 136) rgb(15, 15, 15);
}

.redirection {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

p {
  font-family: Roboto;

  color: white;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

input {
  font-family: Roboto;
}

.viewport {
  margin: 0px 0px 0px 0px;
}

.content-wrapper {

  padding: 68px 0px 0px 246px;
}

@media screen and (max-width: 800px) {

  .content-wrapper {

    padding: 68px 0px 0px 0px;
  }
  
}

a {
  margin: 0px 4px 0px 0px;
}